= div_for reply do
  - if reply.body != nil
    %span{:class => "dateandoptions"}
      Posted
      = time_ago_in_words(reply.created_at)
      ago
      %br/
      - @comment = Comment.find_by_id(reply.comment_id)
      = link_to 'Delete', [@post, @comment, reply], :method => :delete, :remote => true
    %p
    wrote:
    %br/
    = content_tag(:p, reply.body, :class => "comment-body")
