h3 {
	margin: 0;	
	padding: 7px 0 0 0;
	font-size: 16px;
}

div#feature_list {
	width: 654px;
	height: 240px;
	overflow: hidden;
	position: relative;
	background-color: #fff;
}

div#feature_list ul {
	position: absolute;
	top: 0;
	list-style: none;	
	padding: 0;
	margin: 0;
}

ul#tabs {
	left: 0;
	z-index: 2;
	width: 250px;
}

ul#tabs li {
	font-size: 12px;
	font-family: Arial;
}
ul#tabs li h3 {
  color: #222;
  text-shadow: 1px 1px 1px #fff;
}

ul#tabs li img {
	padding: 5px;
	border: none;
	float: left;
	margin: 10px 10px 0 0;
}

ul#tabs li a {
	color: #222;
	text-decoration: none;	
	display: block;
	padding: 10px;
	height: 60px;
	outline: none;
}

ul#tabs li a:hover {
	text-decoration: underline;
}

ul#tabs li a.current{
	background:  url('/images/slider/feature-tab-current.png');
	color: #FFF;
}

ul#tabs li a.current:hover {
	text-decoration: none;
	cursor: default;
}

ul#output {
	right: 0;
	width: 435px;
	height: 240px;
	position: relative;
}

ul#output li {
	position: absolute;
	width: 420px;
	height: 240px;
}
ul#description1 {
	right: 0;
	width: 420px;
	position: relative;
  width:632px;
  /* styling bellow */
  background-color:black;
  font-family: 'tahoma';
  font-size:15px;
  
  list-style-type: none;
  list-style-position: outside;
  list-style: none;
}

ul#description1 li {
	position: absolute;
	width: 435px;
}

ul#output li a {
	position: absolute;
	bottom: 10px;
	right: 10px;
	padding: 8px 12px;
	text-decoration: none;
	font-size: 11px;
	color: #FFF;
	background: #000;
	-moz-border-radius: 5px;
}

ul#output li a:hover {
	background: #D33431;
}