/* OWN CSS */

/* BASIC */
body {
  /*background-color: #776235;*/
  background: #5c8b25 url(/images/layout/bg.jpg);
  background-repeat: repeat-x;
}

/* TYPOGRAPHY */
p { line-height: 1.0; margin: 0 0 1.25em; padding: 0; }
a, a:link, a:visited	{ color: #000; text-decoration: none; }
a:hover { color: #ccc; }
.ui-widget-header h2 {
  text-shadow: 1px 1px 1px #fff;
}
#small_text a {
  font-size: 0.8em;
}

/* HEADER STUFF */
.header1 {
  text-shadow: #000 2px -2px 2px;
  color: #3D9200;
}
#header {
  padding:5px 0 0 0;
}
#banner_top, #banner_top img{
  padding:0px;
  line-height:0;
  margin: 0px;
  font-size:0;
}
#banner_top1 {
  background: #5c8b25 url(/images/layout/top_left.jpg);
  height:65px;
}

/* NAVIGATION */
#navigation {
  background: #5c8b25 url(/images/layout/bottom_left.jpg);
  height:51px;  
}
#navigation ul {
  padding:10px 0px 0px 20px;
}

.nav {
  /*border-bottom: 2px #000 solid;*/
  height: 32px;
  /*background-color: #3D9200;*/
  background-color: #75993c;
  margin: 0px 0px 0px 0px;
  
}
.nav ul {
  list-style-type: none;
  list-style-position: outside;
  list-style: none;
  margin-bottom:0;
}
.nav li {
  display: block;
  overflow: hidden;
  padding: 0px 10px;
  list-style: none;
  float: left;
  color: #fff;
}
.nav li p, .nav li a {
  margin: 0;
  font-size: 17px;
  display: block;
  color: #FFF;
  text-align: center;
  text-decoration: none;
  font-weight:bold
  
}
.nav li:hover {
  /*background: #5FA92A;*/
  background-color: #91c757;
  /*background: #000;*/
}

/* BLOCKS */
.post_excerpt_body img {
  display: none;
}
.post_excerpt_img img {
  height: 80px;
  width: 80px;
}
.post_excerpt td {
  height: 80px;
  width: 80px;
}
.post_excerpt_img_big img {
  width: 425px;
  height: 276px;
}
.padding {
  padding:10px;
}
.padding_left {
  padding:0 0 0 50px;
}
.padding_left_10 {
  padding:0 0 0 5px;
}
label {
  font-size: 14px;
}
/* IE FIX*/
.comment
{
  display: block;
  background: #E5EEED;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  
  border-color:#ddd;
  border-style:solid;
  border-width:1px;
}
.reply
{
  display: block;
  background: #E5EEED;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border-color:#ddd;
  border-style:solid;
  border-width:1px;
  padding: 10px;
  margin: 0 0 0 100px;
}
.link {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border-color:#ddd;
  border-style:solid;
  border-width:1px;
  padding: 5px;
}
.link2 {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border-color:#ddd;
  border-style:solid;
  border-width:1px;
  padding: 5px;
  vertical-align:top;
}
#post_text p {
  font-size: 14px;
  line-height:1.5;
  
}
#new_comment{
  display: block;
  background: none;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  border-color:#ddd;
  border-style:none;
  border-width:0px;
}
#new_comment textarea {
  width: 400px;
  height:200px;
}

/* BUTTONS */
.button_s {
  font-size: 0.8em;
  background-color: #75993c; 
}
.button {
  font-size: 1em;
}
.sign_in_button {
  font-size: 0.8em;
}
.selected {
  font-size: 17px;
  /*background-color: #5FA92A;*/
  /*background-color: #000;*/
  background-color: #91c757;
}

.content_all {
  background: #5c8b25 url(/images/layout/content_bg.jpg);
  margin:0;
}

#main {
   padding: 2px;
}

#notice {
	border: 1px #000 solid;
	padding: 5px;
}

.emphasized {
  font-style: italic;
  border: 1px solid #888;
  padding: 0.5em;
}

#recentposts table, #recentposts th,#recentposts td,#recentposts caption  {
  /*border-top-color:#ddd;
  border-top-style:solid;
  border-top-width:2px;*/
  padding-top: 0px;
  padding-bottom:4px;
  padding-left:5px;
  padding-right:2px;
  margin: 0px;
}
#recentposts h3 {
  margin : 0;
}
#events_add h2 {
  margin : 0;
  line-height:1.0;
}

#luetuimmat h4,#luetuimmat hr{
  margin : 0;
  padding: 0;
  line-height:1.5;
}
#luetuimmat i , #luetuimmat a{
  font-size: 0.9em;
  line-height: 1.0em;
}
#luetuimmat ul {
  list-style-type: none;
  margin-left:0;
  padding-left:0;
}
#luetuimmat li
{
  border: solid 1px white;
  padding: 5px;
  margin: 1px;
  background-color: #DDDDB7;
}
/* FORMS */
#new_event textarea {
  height: 100px;
  width: 400px;
}
.field input {
  width: 350px;
  line-height:1.5em;;
}
.field_small input {
  width: 150px;
  line-height:1.5em;;
}

/* SIDEBAR */
.widgetcontainer		{ border: solid #999; border-width: 1px; background: repeat-x #FFF; -moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px; }
.widgetcontainer a		{ }
.widgettitle			{ 
  font-size: 16px;
  font-weight: bold;
  /*background-color: #204000; */
  background-color: #75993c;
  color: #FFF;  padding: 5px 5px; -moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px;}
.widgettitle a			{ color: #FFF; }
.widgetcontent { padding: 10px; }
.widgetcontent_editors_pick { padding: 0px; }
.widgetcontent_links_links { padding-bottom: 0px; text-align: center;}
.widgetcontent_links_links table, .widgetcontent_links_links td { padding-top: 7px; text-align: center;}

.active_s{background:#ddd;padding:27px;display:block;float:left;outline:none;width:200px;}

p.description_content{padding:10px;margin:0px;}

/* FORMTASTIC */

