/* OWN CSS */

/* BASIC */
body {
  /*background-color: #776235;*/
  background: #5c8b25 url(/images/layout/Nurmi.jpg);
  //background-color: #006600;
  //background-repeat: repeat-x;
  //background-attachment: fixed;
 
}

/* TYPOGRAPHY */
p { line-height: 1.0; margin: 0 0 1.25em; padding: 0; }
a, a:link, a:visited	{ color: #000; text-decoration: none; }
a:hover { color: #ccc; }
.ui-widget-header h2 {
  text-shadow: 1px 1px 1px #fff;
}
#small_text a {
  font-size: 0.8em;
}

/* HEADER STUFF */

@font-face {
	
	font-family: cool_font;
	src: url('CelesteSansitalic.woff') format("woff");

}
@font-face {
	
	font-family: specialtitle_font;
	src: url('CelesteSansitalic-Bold.woff') format("woff");

}
@font-face {
	
	font-family: bread_font;
	src: url('CelesteSansWeb.woff') format("woff");

}
@font-face {
	
	font-family: submenu_font;
	src: url('CelesteSansWeb-Bold.woff') format("woff");

}

@font-face {
	
	font-family: sidebartitle_font;
	src: url('CelesteSansScWeb-BoldIta.woff') format("woff");

}
p.mygolfinvite { 
  //position: absolute;
  font: 28px/45px bread_font,'Cantarell', Sans-Serif;
  color: #0F5564;
  line-height:30px;
  top: 20px;
  
}
p.mygolfbenefits { 
  //position: absolute;
  font: 13px/45px bread_font,'Cantarell', Helvetica, Sans-Serif;
  color: #000000;
  line-height:18px;
  top: 20px;
  
}

#screams
{
 font: 13px/45px bread_font,'Cantarell', Helvetica, Sans-Serif;
  color: #000000;
  line-height:18px;
  top: 20px;
  }
.header1 {
  text-shadow: #000 2px -2px 2px;
  color: #3D9200;
}
#header {
  padding:5px 0 0 0;
}

#banner_top {
  position: relative;
  padding:0px;
  line-height:0;
  margin: 0px;
  //font-size:0;
}

#banner_top .buttons {
   position: absolute;
   left:10px;
   top: 225px;
   width: 75%; /* for IE 6 */
}

#banner_top .createprofile {
   position: absolute;
   top: -50px;
   width: 100%; /* for IE 6 */
}
#banner_top .sidebar_a a{
   position: absolute;
   color:white;
   font: 18px/18px sidebartitle_font,'Actor', 'Ubuntu Condensed', Helvetica, Sans-Serif;
   top: -18px;
   left:2px;
   width: 100%; /* for IE 6 */
}
#banner_top .register {
   position: absolute;
   //width: 40%;
   top: 170px;
   left: 728px;
   font: 18px/18px bread_font, 'Cantarell',Helvetica, Sans-Serif;
   
   //float:right;
   width: 25%; /* for IE 6 */
}
#banner_top .buttonkoti {
   position: absolute;
   
   top: 110px;
   left:0px;
   width: 100%; /* for IE 6 */
}
#banner_top .buttontv {
   position: absolute;
   
   top: 110px;
   left:146px;
   width: 100%; /* for IE 6 */
}
#banner_top .buttondeal {
   position: absolute;
   
   top: 110px;
   left:292px;
   width: 100%; /* for IE 6 */
}
#banner_top .buttonguide {
   position: absolute;
   
   top: 110px;
   left:437px;
   width: 100%; /* for IE 6 */
}
#banner_top .buttonmygolf {
   position: absolute;
   
   top: 110px;
   left:584px;
   width: 100%; /* for IE 6 */
}
#banner_top .image {
   position: absolute;
   width: 100%; /* for IE 6 */
}
#banner_top h2.header{ 
  position: absolute;
  text-shadow: #000 2px 4px 8px;
  top: 35px;
  left: 35px;
  width: 100%; 
}
#banner_top h2.first{ 
  position: absolute;
  top: 33px;
  left: 320px;
  width: 100%; 
}

#banner_top h2 span {
   color: white;
   font: 28px/45px cool_font, Helvetica, Sans-Serif;
   letter-spacing: 1px;
   
   //background: rgb(0, 0, 0); /* fallback color */
   //background: rgba(0, 0, 0, 0.7);
   padding: 10px;position: absolute;
}

	



#banner_top h2 span.header {
   color: black;
   font: 32px/55px cool_font,Helvetica, Sans-Serif;
   letter-spacing: 1px;
   //background: rgb(0, 0, 0); /* fallback color */
   //background: rgba(0, 0, 0, 0.7);
    padding:5px 10px 10px 36px;position: absolute;
}

#banner_top h2 span.header2 {
   color: black;
   font-size: 78px;
   font-family:  cool_font,Helvetica, Sans-Serif;
   letter-spacing: 1px;
   //background: rgb(0, 0, 0); /* fallback color */
   //background: rgba(0, 0, 0, 0.7);
   padding: 5px;position: absolute;
}




#emptyspace {
  height:7px;  
}
/* NAVIGATION */
#navigation {
  //background: #5c8b25 url(/images/layout/bottom_left.jpg);
  height:21px;  
}
#navigation ul {
  padding:1px 0px 0px 1px;
}

.nav {
  /*border-bottom: 2px #000 solid;*/
  height: 21px;
  /*background-color: #3D9200;*/
  background-color: #FFFFFF;
  margin: 0px 0px 0px 0px;
  
}
.nav ul {
  list-style-type: none;
  list-style-position: outside;
  list-style: none;
  margin-bottom:0;
}
.nav li {
  display: block;
  overflow: hidden;
  padding: 0px 10px;
  list-style: none;
  float: left;
  color: #000000;
}
.nav li p, .nav li a {
  margin: 0;
  padding-right:20px;
  border-color:blue;
  border-width:2px;
  border-right-style:solid;
  
  font: 13px/18px Sans-Serif;
  display: block;
  color: #0000d0;
  text-align: center;
  text-decoration: none;
  font-weight:bold
  
}
.nav li:hover {
  /*background: #5FA92A;*/
   
  background-color: #fff;
  /*background: #000;*/
}

/* BLOCKS */
.post_excerpt_body img {
  display: none;
}
.post_excerpt_img img {
  height: 80px;
  width: 80px;
}
.post_excerpt td {
  height: 80px;
  width: 80px;
}
.post_excerpt_img_big img {
  width: 425px;
  height: 276px;
}
.padding {
  padding:10px;
}
.padding_left {
  padding:0 0 0 50px;
}
.padding_left_10 {
  padding:0 0 0 5px;
}
label {
  font-size: 14px;
}
/* IE FIX*/
.comment
{
  display: block;
  background: #E5EEED;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  
  border-color:#ddd;
  border-style:solid;
  border-width:1px;
}
.reply
{
  display: block;
  background: #E5EEED;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border-color:#ddd;
  border-style:solid;
  border-width:1px;
  padding: 10px;
  margin: 0 0 0 100px;
}
.link {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border-color:#ddd;
  border-style:solid;
  border-width:1px;
  padding: 5px;
}
.link2 {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border-color:#ddd;
  border-style:solid;
  border-width:1px;
  padding: 5px;
  vertical-align:top;
}
#post_text {
  padding:3px;
  //text-align: justify;
  color:rgb(64,46,46);
  font: 16px bread_font,'Cantarell',Sans-Serif;
  line-height: 1.5em;
  
}
#post_text p{
  margin-top:0px;
  
  
}
#post_text img{
  margin-left:4px;
}
#new_comment{
  display: block;
  background: none;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  border-color:#ddd;
  border-style:none;
  border-width:0px;
}
#new_comment textarea {
  width: 400px;
  height:200px;
}

/* BUTTONS */
.button_s {
  font-size: 0.8em;
  background-color: #0F5564; 
}
.button {
  //font: 13px/18px cool_font, Sans-Serif;
  font-size: 1em;
  background-color: #0F5564; 
}
.sign_in_button {
  font-size: 0.8em;
}
.selected {
  //font-size: 17px;
  padding-right:20px;
  border-color:blue;
   border-width:2px;
   border-right-style:solid;
  color: black;
  font: 13px/18px cool_font,Sans-Serif,;
  /*background-color: #5FA92A;*/
  /*background-color: #000;*/
  //background-color: #000057;
}

.content_all {
  //background: #5c8b25 url(/images/layout/content_bg.jpg);
  margin:0;
}


#notice {
	border: 1px #000 solid;
	padding: 5px;
}

.emphasized {
  font-style: italic;
  border: 1px solid #888;
  padding: 0.5em;
}

#recentposts table, #recentposts th,#recentposts td,#recentposts caption  {
  /*border-top-color:#ddd;
  border-top-style:solid;
  border-top-width:2px;*/
  padding-top: 0px;
  padding-bottom:4px;
  padding-left:5px;
  padding-right:2px;
  margin: 0px;
  background:  url('/images/slider/fadet.png');// top left no-repeat;
	
}
#recentposts h3 {
  margin : 0;
}
#events_add h2 {
  margin : 0;
  line-height:1.0;
}

#luetuimmat h4,#luetuimmat hr{
  margin : 0;
  padding: 0;
  line-height:1.5;
}
#luetuimmat i , #luetuimmat a{
  font-size: 0.9em;
  line-height: 1.0em;
}
#luetuimmat ul {
  list-style-type: none;
  margin-left:0;
  padding-left:0;
}
#luetuimmat li
{
  border: solid 1px white;
  padding: 5px;
  margin: 1px;
  background-color: #DDDDB7;
}
/* FORMS */
#new_event textarea {
  height: 100px;
  width: 400px;
}
.field input {
  width: 350px;
  line-height:1.5em;;
}
.field_small input {
  width: 150px;
  line-height:1.5em;;
}
.myspecialtransparenttext{
color: rgba(255, 255, 255, 0.0);
}
/* SIDEBAR */
.widgetcontainer		{margin-right:7px;background: white ; border-style:solid; border-width:4px; border-color: #eeeeee;  -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; }
.widgetcontainer a		{ }
.widgettitle			{ 
  font-size: 16px;
  font: 16px/18px sidebartitle_font, 'Actor', 'Ubuntu Condensed',Sans-Serif;
  
  /*background-color: #204000; */
  background-color: white;
  background: white url(/images/header.png) top no-repeat;
  color: #FFF;  
  padding:4px 4px 4px 8px;
  }
.widgetsidebartitle			{ 
  font-size: 16px;
  font-weight: bold;
  font: 16px/18px sidebartitle_font,'Actor', 'Ubuntu Condensed',Sans-Serif;
  
  /*background-color: #204000; */
  background-color: white;
  background: white url(/images/layout/sidebarheader.png) top no-repeat;
  color: #FFF;  
  padding: 4px 4px 4px 8px;
  }
.widgettitle a			{   color: #FFF; }
.widgetsidebartitle a			{ color: #FFF; }
.widgetcontent { padding: 1px;font-family: bread_font,'Cantarell',Sans-Serif; }
.widgetcontent_adresses { padding: 10px; background-color: white;color:#0F5564;font-family: bread_font,'Cantarell',Sans-Serif; }
.widgetcontent_editors_pick { padding: 0px,20px,0px,0px; }
.widgetcontent_links_links { padding-bottom: 0px; text-align: center;}
//.widgetcontent_links_links table, .widgetcontent_links_links td { padding-top: 7px; text-align: center;}

.active_s{background:#ddd;padding:27px;display:block;float:left;outline:none;width:200px;}

p.description_content{padding:10px;margin:0px;}

/* FORMTASTIC */

/*subnavnew*/

#cfnavbar{
margin: 0;
padding: 0px 0px 0px 3px;
}

#cfnavbar ul{
//background: url(media/bg.gif) repeat-x;
padding: 0;
margin: 0;
//float: left;
font: 12px/18px submenu_font,Verdana;
}

#cfnavbar ul li{
display: inline;
margin: 0; 
padding: 3px 13px 5px 6px;
color: red;
}


#cfnavbar ul li a {
color: black;
//padding: 3px 13px 5px 6px;
text-decoration: none;
//background: url(/images/layout/left_first.jpg) top right no-repeat;
}


.writenewpostplease{
  color: rgb(15,85,100);
  padding: 4px;
  font: 23px/23px bread_font,'Cantarell',Arial;
}
.writenewpostplease .smalltext{
  color: rgb(0,0,0);
  font: 13px/13px bread_font,'Cantarell',Arial;
}
.writenewpostplease a{
  color: rgb(15,85,100);
  font: 16px/16px title_font,'Actor', 'Ubuntu Condensed',Arial;
}

#cfnavbar ul li a#rightcorner{
padding-right: 10px;
background: url(media/rightcorner.gif) top right no-repeat;
}

#cfnavbar ul li a:hover{
text-decoration: underline;
}

#cfnavbar:after{ /*Add margin between menu and rest of content in Firefox*/
content: "."; 
display: block; 
height: 0; 
clear: both; 
visibility: hidden;
}



/*Credits: Dynamic Drive CSS Library */
/*URL: http://www.dynamicdrive.com/style/ */

a.ovalbutton{
background: transparent url(images/layout/buttons/oval-gray-left.gif) no-repeat top left;
display: block;
float: left;
font: normal 13px Tahoma; /* Change 13px as desired */
line-height: 16px; /* This value + 4px + 4px (top and bottom padding of SPAN) must equal height of button background (default is 24px) */
height: 24px; /* Height of button background height */
padding-left: 11px; /* Width of left menu image */
text-decoration: none;
}

a:link.ovalbutton, a:visited.ovalbutton, a:active.ovalbutton{
color: #494949; /*button text color*/
}

a.ovalbutton span{
background: transparent url(images/layout/buttons/oval-gray-right.gif) no-repeat top right;
display: block;
padding: 4px 11px 4px 0; /*Set 11px below to match value of 'padding-left' value above*/
}

a.ovalbutton:hover{ /* Hover state CSS */
background-position: bottom left;
}

a.ovalbutton:hover span{ /* Hover state CSS */
background-position: bottom right;
color: black;
}

.buttonwrapper{ /* Container you can use to surround a CSS button to clear float */
overflow: hidden; /*See: http://www.quirksmode.org/css/clearing.html */
width: 100%;
}

.clear { /* generic container (i.e. div) for floating buttons */
    overflow: hidden;
    width: 100%;
}

a.buttoni {
    background: transparent url(/images/layout/buttons/bg_button_a.gif) no-repeat scroll top right;
    color: #444;
    display: block;
    float: left;
    font: normal 12px arial, sans-serif;
    height: 24px;
    margin-right: 6px;
    padding-right: 18px; /* sliding doors padding */
    text-decoration: none;
}

a.buttoni span {
    background: transparent url(/images/layout/buttons/bg_button_span.gif) no-repeat;
    display: block;
    line-height: 14px;
    padding: 5px 0 5px 18px;
}

a.buttoni:active {
    background-position: bottom right;
    color: #000;
    outline: none; /* hide dotted outline in Firefox */
}

a.buttoni:active span {
    background-position: bottom left;
    padding: 6px 0 4px 18px; /* push text down 1px */
}

table.sd td{
    border-right:1px solid white;
}
table.sd td.last{
    border-right:0px solid white;
}
table.sd #title {
  color: #0F5564;
  font: 12px/12px bread_font,'Cantarell',Arial;
}
table.sd #title .text {
  color: #0F5564;
  text-transform:uppercase;
  font: 13px/14px title_font,'Actor', 'Ubuntu Condensed',Arial;
}
table.sd #title a {
	text-align: right;
  color: #0F5564;
  text-transform:uppercase;
  font: 13px/14px title_font,'Actor', 'Ubuntu Condensed',Arial;
}
table.sd #title .border {
  border-right-color: #0F5564;
  border-right-style: solid;
  border-right-width: 1px;
  padding-right: 1px; 
  color: #0F5564;
  font: 7px/2px title_font,'Actor', 'Ubuntu Condensed',Arial;
}
table.sd #title .day {
  color: #0F5564;
  font: 12px/14px bread_font,'Cantarell',Arial;
}

table.sd td.kentatleft {
  width:350px;
}
table.sd td.kentatright {
  width:350px;
  text-align:top;
}



#generaltitle {
  padding:3px;
  color: #0F5564;
  font: 14px/14px bread_font,'Cantarell',Arial;
}
#generaltitle .text {
  color: #0F5564;
  font: 30px/30px title_font,'Actor', 'Ubuntu Condensed',Arial;
  margin-bottom:10px;
}

#generaltitle .smalltext {
  color: #0F5564;
  font: 20px/20px title_font,'Actor', 'Ubuntu Condensed',Arial;
  margin-bottom:10px;
}


#generaltitle .sidebartext {
  color: #0F5564;
  font: 20px/10px title_font,'Actor', 'Ubuntu Condensed',Arial;
  margin-bottom:3px;
}
#generaltitle .border {
  border-right-color: #0F5564;
  border-right-style: solid;
  border-right-width: 1px;
  padding-right: 1px; 
  color: #0F5564;
  font: 10px/2px title_font,'Actor', 'Ubuntu Condensed',Arial;
}
#generaltitle .day {
  color: #0F5564;
  font: 12px/14px bread_font,'Cantarell',Arial;
}

#youtube_video{
  /*background: url(/images/layout/videontausta.png) no-repeat top left ;*/
  width:637px;
  height:400px;
  padding: 20px 30px 10px 30px;
}

.chatborders 
{
border-style:inset;
border-width:2px;
}
.pagination 
{
  color: #000;
  font: 18px/14px title_font,'Actor', 'Ubuntu Condensed',Arial;
 float:right;
}
.pagination a
{
color: #0F5564;
  font: 18px/14px title_font,'Actor', 'Ubuntu Condensed',Arial;

}
#mikon ul
{

font: 14px/14px title_font,'Actor', 'Ubuntu Condensed',Arial;

list-style-type:none;
padding:0px;
margin:0px;
}
#mikon li a
{
display: inline;
color: #0F5564;
    list-style-type: none;
    padding-right: 20px;
}
#mikon li 
{
display: inline;
color: #000;
    list-style-type: none;
    padding-right: 20px;
}
	
.kalle{
  padding:0px 0px 0px 2px;
}

#screamsform
{
width:22%;
}
