<div class="group_brief">

	<div class="group_brief_text">
		<span id="group_name_txt">
			<%= link_to group.name, group_url(group) %>
		</span><br/>
		<%= group.users.size %> members
	</div>
</div>