.widgetcontainer
  .widgetcontent_links_links
    %table
      %tr
        %td
          = link_to "Videot", videos_links_path
        %td
          = link_to "Linkit", links_links_path
        %td
          = link_to "Kuvat", images_links_path