<div class="youtube_video">
<object width="425" height="355">
<param name="movie" value="http://www.youtube.com/v=yR9-Q3zdFLY&feature=related"></param>
<param name="wmode" value="transparent"></param>
<embed src="http://www.youtube.com/v=yR9-Q3zdFLY&feature=related" type="application/x-shockwave-flash" wmode="transparent" width="425" height="355"></embed>
</object>
</div>