.widgetcontainer
  .widgettitle
    Luo suljettu peli
  .widgetcontent
    #events_links
      - if logged_in?
        #events_add
          %table
            %tr
              %td
                %h4
                  Kutsu kavereita tai jaa ryhmällesi suljettu peli
                .button_s= link_to 'Luo pelitapahtuma', new_event_path(:private => true)
%br/
      
.widgetcontainer
  .widgettitle
    Omat pelit
  .widgetcontent

    #events_table
      -if !@past_events
        #past_events
          = link_to 'Show past events', '/event/kaikki'
      
    - for event in @events
      = render :partial => 'event_brief', :locals => {:event=>event}