<div id="events_links">
	<% if logged_in? %>
		<div id="events_add"><%= link_to 'Lisää peli', new_event_path %></div>
	<% end %>
</div>
<h1>Pelit (<%= @events.size %>)</h1>

<div id="events_table">
	<% if !@past_events %>
		<div id="past_events"><%= link_to 'Show past events', '/event/kaikki' %></div>
	<% end %>
	<% for event in @events %>
		<%= render :partial => 'event_brief', :locals => {:event=>event} %>
	<% end %>
</div>

