.widgetcontainer
  .widgettitle
    Luo avoin peli
  .widgetcontent
    #events_links
      - if logged_in?
        #events_add
          %table
            %tr
              %td
                %h4
                  Luo avoin pelitapahtuma mihin muut pelaajat voivat liittyä seuraksi!
                .button_s= link_to 'Luo pelitapahtuma', new_event_path(:private => false)
.widgetcontainer
  .widgettitle
    Hae avoimia pelejä
  .widgetcontent
    %table
      %tr
        %th Strokes
        %th
        %th
      - @open_events.each do |event|
        %tr
          %td= event.name
          %td= link_to 'Show', event
          %td= link_to 'Destroy', event, :method => :delete, :confirm => "Are you sure?"

    