.widgetcontainer
  .widgettitle{:class => "ui-corner-all"}
    Uusi linkki tai video
  .widgetcontent
    = render "shared/error_messages", :target => @link
    = render 'form'

    = link_to 'Takaisin', links_path