<%= div_for scream do %>
  <span class="dateandoptions">
    <%= scream.name %>
    <%=time_ago_in_words(scream.created_at)%> sitten
    <!--%= link_to 'Delete', scream_path(scream), :method => :delete, :class => "delete", :remote => true  %-->
  </span>
	
  <%= content_tag(:p, scream.body, :class => "scream-body") %>
<% end %>
