.widgetcontainer
  .widgettitle
    MyGolf
  .widgetcontent
    %table
      %tr
        %td
          %img{:src => "/images/graybox.png", :alt => "GoGolf.fi", :height => "280", :width => "350"}  
        %td{:width =>320}
          %table
            %tr
              %td{:width =>300	}
                %p.mygolfinvite
                  MyGolf - Oman golfisi koti.
                  Hallinnoi golfiasi täysin
                  uudenlaisella, hauskalla ja
                  helpolla tavalla!

            %tr
              %td
                %img{:src => "/images/graybox.png", :alt => "GoGolf.fi",  :height => "50", :width => "50", :class =>"right"} 
                %p.mygolfbenefits
                  Pidä kirjaa omista rundeistasi 
                  %br
                  Seuraa golfkavereidesi rundeja ja kirjoituksia
                  %br
                  Järjestä omia kilpailuja ja tapahtumia
                  %br
                  Löydä peliseuraa
                  %br
                  Ja paljon muuta...