.widgetcontainer
	.widgettitle
		Yritys
	.widgetcontent
		#generaltitle
			
			.smalltext
				Ihmiset Gogolfin takana. Me ollaan kaikki melko mukavia. Ota yhteyttä rohkeasti!	
			.smalltext
				Vesa Keski-Pukkila
			.generaltext
				Toimari
				%br
				050-3616761
				%br
				vesa(a)gogolf.fi
			.smalltext	
				Nikke Tyry
			.generaltext
				Sisältö ja toteutus
				%br
				045-37114035
				%br
				nikke(a)gogolf.fi
			.smalltext	
				Hanni Tyry
			.generaltext
				Ideointi ja myynti
				%br
				050-3823433
				%br
				hanni(a)gogolf.fi
			.smalltext	
				Mikko Pulli
			.generaltext
				koodaus
				%br
				050-3707305
				%br
				mikko(a)gogolf.fi
			.smalltext	
				Pekka Rihtniemi
			.generaltext
				koodaus
				%br
				pekka(a)gogolf.fi
#emptyspace
.widgetcontainer
	.widgettitle
		Palvelut
	.widgetcontent
		#generaltitle
			.smalltext
				GoGolfin yhteistyökumppaniksi?
			.generaltext	
				Meidän kanssa tekeminen on edullista ja hauskaa. Lähdemme mielellämme mukaan mitä erilaisimpiin juttuihin. Meiltä löytyy koulunpenkiltä hankittua kompetetenssia, mutta ennen kaikkea rohkeutta ja luovaa hulluutta. 
			.smalltext	
				Bannerit:
			.generaltext		
				Jos haluat nähdä oman bannerisi sivuillamme, ota yhteyttä Nikkeen. Myymme näin alkuun bannereita todella edullisesti ja mielellään pidemmäksi aikaa. Ota yhteyttä, niin toteutetaan juuri sinun yrityksellesi toimiva ratkaisu. 
			.smalltext		
				Videokonseptit:
			.generaltext		
				Toteutamme kustannustehokkaasti erilaiset mediaratkaisut, oli kyse sitten yritystapahtuman taltioinnista tai kentän esittelyvideon koostamisesta. Kuvauksen ja editoinnin hoitaa VeVe Media rautaisella ammattitaidolla. Katso esim. Ringside Golfin introvideo.
			.smalltext		
				Videonäkyvyys:
			.generaltext		
				Toteutamme talvikuukausina videoclippejä milloin mistäkin päin maailmaa. Mikäli konsepti näyttää sinusta kokeilun arvoiselta, ota rohkeasti yhteyttä! Clipin sisään voidaan toteuttaa sekä spottimainos, että melkein mitä tahansa muuta. Meillä on luovaa hulluutta kehitellä kanssasi toimiva konsepti.
			.smalltext		
				Palvelut kentille:
			.generaltext	
				Toteutamme kentille melkein mitä tahansa. Erityisalaamme ovat hinnoittelu, erilaiset kampanjat sekä liikkuva kuva. 
			.smalltext		
				Esimerkkiratkaisuja:
			.generaltext	
				
				Hinnoittelun tehostaminen
				%ul
					%li
						mitä hinnoittelulla halutaan saavuttaa ja miten se kannattaisi tehdä?
					%li
						dynaamisen hinnoittelun mahdollisuudet vieraspelaamisessa
				
				Erilaiset kampanjat, uudet tuotteet
				%ul
					%li
						miten tarjota erilaisille asiakasryhmille paras mahdollinen ratkaisu?
					%li
						Esim. opiskelijakampanja kesäiltaisin 19-20 GF 25 euroa
			.smalltext
				Yritystapahtumat:
			.generaltext	
				Järjestämme yritystapahtumat teidän lähtökohdistanne käsin. Meillä ei ole ”yhteistyökenttiä” vaan etsimme kulloinkin olemassa olevan parhaan tarjouksen. Yritystapahtuman voi järkätä näyttävästi, mutta sen ei silti tarvitse maksaa maltaita. Tapahtumat voidaan toteuttaa ”avaimet käteen –tehkää siitä hyvä periaatteella” tai suunnitella alusta loppuun asti yhdessä.
		
