.widgetcontainer
  .widgetcontent
    %h1 Ennen kautta tulossa
    %h2 Kentät
    %ul
      %li Uutiset
      %li Kisat
      %li Aloittelijat
    %h2 Opetus
    %ul
      %li PGA opettajat
      %li Harjoittelupaikat
      %li Vinkkejä
    %h2 Aloittelijat!
    %ul
      %li Kattava paketti golfin aloituksesta