.widgetcontainer
  .widgetcontent
    %p
      Yritys: GoGolf Oy
    %p
      Y-tunnus: 23756900
    %p
      Osoite: Kyläkirkontie 40
      00370 HELSINKI
    %p
      Puhelin: +358 50 3616761
    %p
      Sähköposti: info (at) gogolf.fi
  
    %p
      %a{:href => "/site/verkkokaupan_ehdot"} 
        <input type="button" value="Verkkokaupan ehdot" />
      %a{:href => "/site/yleiset_ehdot"} 
        <input type="button" value="Yleiset käyttöehdot" />
%br/
.widgetcontainer
  .widgettitle
    GoGolf
  .widgetcontent
    Mikä on GoGolf?
    %ul
      %li GoGolf on uusi verkkosivusto, jonka tavoitteena on mullistaa suomalaisen golfin rakenteet, tiivistää golfyhteisöä sekä yhdistää täysin uudenlaisella tavalla kenttien, pelaajien ja muiden golftoimijoiden tarpeet. Haluamme omalta osaltamme kyseenalaistaa ja jopa hieman ravistella golfin ympärille virttyneitä tapoja, samalla kuitenkin kaikkia toimijoita kunnioittaen.
      %li Olemme rohkeita, ennakkoluulottomia ja täynnä uudenlaisia ideoita - täsmälleen sitä mitä suomalainen golf tarvitsee. Maailma muuttuu nyt nopeammin kuin koskaan, eikä golfilla ole varaa jäädä jälkijunaan. Jos golf keksittäisiin nyt, millainen laji olisi?
    Visio
    %ul
      %li Haluamme saada merkittäviä muutoksia Suomen golfin rakenteeseen ja taata kaikille pelaajille sopivan tavan  pelata

    Missio
    %ul
      %li "GoGolf mullistaa suomalaisen golfin rakenteet, tiivistää golfyhteisöä sekä yhdistää täysin uudenlaisella tavalla kenttien, pelaajien ja muiden golftoimijoiden tarpeet."
