.widgetcontainer
  .widgetcontent
    %p
      Yritys: GoGolf Oy
    %p
      Y-tunnus: 23756900
    %p
      Osoite: Turkismiehentie 8 A 62YTJ
      00370 HELSINKI
    %p
      Puhelin: 050 3616761
    %p
      Sähköposti: info (at) gogolf.fi
  
    %p
      .button_s=link_to "Yleiset käyttöehdot", "/site/yleiset_ehdot"
      .button_s=link_to "Verkkokaupan ehdot", "/site/verkkokaupan_ehdot"
