.widgetcontainer
  .widgetcontent
  
    GoGolf –verkkokaupan yleiset ehdot
    1. Tervetuloa verkkosivullemme www.GoGolf.fi
    a. GoGolfin tarjoaa GoGolf Oy, jonka rekisterinumero on 2375690-0 ja osoite Kyläkirkontie 40, 00370 Helsinki. Verkkosivullamme Te voitte asiakkaana (jäljempänä "Te") ostaa tuotteiden ja palveluiden lahjakortteja yhteistyökumppaneiltamme.
    %br/
    %br/
    b. GoGolf ei itse tarjoa niitä tuotteita ja palveluita, joita Teidän on mahdollista ostaa verkkosivultamme, vaan huolehtii siitä, että lahjakortit oikeuttavat Teidät saamaan tuotteen tai palvelun GoGolfin yhteistyökumppaneilta. GoGolfin myymät lahjakortit oikeuttavat joko konkreettiseen palveluun tai tiettyyn tuotteeseen tai tietyn arvoisiin palveluihin tai tuotteisiin.
    %br/
    %br/
    c. GoGolfin yhteistyökumppanit myöntävät lahjakortit ja kyseessä oleva yhteistyökumppani (lahjakortissa mainittu yritys) tulee tarjoamaan lahjakortissa mainitut tuotteet tai palvelut. Kaikki tuotteet ja palvelut tarjotaan näiden käyttöehtojen ("Käyttöehdot") mukaisesti, joihin kehotamme Teitä tutustumaan tarkasti.
    %br/
    %br/
    d. Mikäli Te käytätte verkkosivuamme ja/tai ostatte lahjakortin tai muita tuotteita tai palveluita osoitteesta www.GoGolf.fi, olette velvollinen noudattamaan näitä Käyttöehtoja, jotka sääntelevät verkkosivun käyttöä ja ostojanne. Ennen kuin kauppa voidaan toteuttaa, olette velvollinen luomaan käyttäjätilin ja valitsemaa salasanan. Ennen kauppaa Teitä kehotetaan myös tutustumaan tarkasti näihin Käyttöehtoihin sekä hyväksymään niiden sisällön. Käyttöehdot ovat milloin tahansa luettavissa, tulostettavissa tai paikallisesti tallennettavissa verkkosivustolla www.GoGolf.fi.
    %br/
    %br/
    2. Näin tilaatte lahjakortin osoitteesta www.GoGolf.fi
    %br/
    %br/
    a. Valitkaa haluamanne lahjakortti ja vahvistakaa tilaus painamalla "Osta"-nappia etusivulla.
    %br/
    %br/
    b. Valitkaa haluamanne lukumäärä lahjakortteja.

    %br/
    %br/
    c. Seuratkaa ruudulla näkyviä ohjeita ja suorittakaa maksu käyttämällä PayPal –palvelua.
    %br/
    %br/
    d. Vahvistamalla hyväksyvänne Käyttöehdot ja suorittamalla maksun Te annatte sitovan ostotarjouksen kyseessä olevasta lahjakortista. Mikäli kaikki tiedot täsmäävät ja kaupan edellytykset täyttyvät hyväksyy GoGolf ostotarjouksen lähettämällä Teille lahjakorttikoodin muodossa olevan vahvistuksen. Mikäli osallistujien vähimmäismäärä on täyttynyt ilmoitetun myyntiajan päätyttyä ja olemme rekisteröineet Teidän maksunne, lähetämme Teille lahjakortin sähköpostitse.
    %br/
    %br/
    e. Tulostakaa lahjakortti ja lunastakaa se kyseessä olevalta yhteistyökumppanilta.
    %br/
    %br/
    f. Lahjakortin kauppa syntyy vain ja ainoastaan siinä yhteydessä kun GoGolf rekisteröi Teidän maksunne. Mikäli maksu ei ensimmäisellä yrityksellä onnistu (esim. mikäli ilmoitettua tiliä ei ole olemassa, tilillä ei ole katetta, luottokorttinumero on virheellinen tai luottokortin luottoraja on ylittynyt), ei kauppaa lahjakortista synny.
    %br/
    %br/
    g. Lahjakortti tullaan toteutuneen kaupan jälkeen lähettämään Teidän tilauksen tekemisen yhteydessä ilmoittamaanne sähköpostiosoitteeseen. Lahjakortti lähetetään kun maksu on rekisteröity tilillemme.
    %br/
    %br/
    h. Tietyn lahjakortin myynti tapahtuu rajoitetun ajan sisällä ja GoGolf määrittelee jokaisen tarjouksen ehdot erikseen. Tarjousajan päättymisen jälkeen ei ole enää mahdollista ostaa lisää lahjakortteja.
    %br/
    %br/
    3. Peruuttamisoikeus 
    a. Teillä on kuluttajana oikeus perua ostonne kahden viikon kuluessa yllä kuvatusta kaupan vahvistuksen vastaanottamisesta. Peruuttamisesta ilmoitetaan sähköpostitse osoitteeseen info@gogolf.fi.
    %br/
    %br/
    b. Pyydämme Teitä huomioimaan, että peruuttamisoikeutta ei ole mahdollista käyttää sen jälkeen, kun olette lunastaneet lahjakortin GoGolfin yhteistyökumppanilta.
    %br/
    %br/
    4. Lahjakortin lunastaminen GoGolfin yhteistyökumppanilta
    %br/
    %br/
    a. Lahjakortti ei oikeuta palvelujen käyttämiseen tai tuotteiden ostamiseen tiettynä ajankohtana, ellei toisin erikseen mainita. Tämän vuoksi suosittelemme, että palvelun käyttämisen ajankohdasta sovitaan erikseen kyseessä olevan yhteistyökumppanin kanssa. Mikäli lahjakortista ilmenee tietty voimassaoloaika, voidaan lahjakortti lunastaa yhteistyökumppanilta vain kyseisen voimassaoloajan puitteissa.
    %br/
    %br/
    b. Kaikki lahjakortit on varustettu yksilöllisellä numerotunnuksella ja yhteistyökumppani vertaa lunastuksen yhteydessä numerotunnuksia omaan listaansa. Lahjakorttien kopiointi tai manipulointi on kiellettyä. GoGolf pidättää oikeuden toimittaa tallennetut tietonsa yhteistyökumppanille ja ryhtyä oikeudellisiin toimenpiteisiin, mikäli kopiointia tai manipulointia epäillään.
    %br/
    %br/
    c. Ellei erikseen toisin mainita, voidaan jokaista lahjakorttia käyttää vain kerran ravintolassa tai kaupassa asioimisen taikka elämyspalvelun tai tuotteen yhteistyökumppanilta ostamisen yhteydessä. Mikäli koko lahjakortin arvoa ei käytetä tai palveluita ei hyödynnetä täysimääräisesti, raukeavat oikeudet käyttämättömän tai hyödyntämättömän osuuden osalta. Korvausta käyttämättä tai hyödyntämättä jätetyistä osuuksista ei normaalisti myönnetä.
    %br/
    %br/
    d. Lahjakortin voimassaolon umpeutuminen: Lahjakortin käyttöaika (sisältäen, mutta ei rajoitettuna kaikkiin sen tarjoamiin alennuksiin) päättyy lahjakortissa mainittuna päivämääränä eikä sitä voi sen jälkeen lunastaa.
    %br/
    %br/
    5. Vastuunrajoitus
    a. GoGolflilla ei ole näiden Käyttöehtojen mukaisen nimenomaisen korvausvelvollisuuden lisäksi mitään velvollisuutta korvata Teille mahdollista vahinkoa, joka aiheutuu siitä, että yhteistyökumppani ei lunasta lahjakorttia, tuote tai palvelu ei vastaa odotuksianne tai yhteistyökumppani asetetaan konkurssiin taikka vahinkoa, joka johtuu muista lahjakortin mukaisiin tuotteisiin tai palveluihin tai Teidän www.GoGolf.fi:n käyttöön liittyvistä olosuhteista. GoGolf ei milloinkaan korvaa välillisiä vahinkoja tai tappioita.
    %br/
    %br/
    b. GoGolf ei vastaa niistä tuotteista tai palveluista, joita Te hyödynnätte lahjakorttia käyttämällä. Yhteistyökumppani tarjoaa lahjakortin mukaiset tuotteet tai palvelut Teille omissa nimissään ja omaan lukuunsa, minkä vuoksi GoGolf ei vastaa Teille mahdollisista yhteistyökumppanin tuotteen tai palvelun tarjoamisen yhteydessä esiintyvistä puutteista.
    %br/
    %br/
    c. GoGolf ei vastaa mahdollisista kirjoitus- ja/tai painovirheistä www.GoGolf.fi -sivustolla ja pidättää oikeuden muuttaa verkkosivulla olevaa aineistoa ja tietoja. Te vastaatte itse verkkosivun käyttämiseen tarvittavasta teknisestä laitteistosta ja ohjelmistosta, esim. pääsystä Internetiin, verkkoselaimesta, sähköpostista jne.
    %br/
    %br/
    d. Vaikka pyrimme tarjoamaan palveluitamme ilman teknisiä häiriöitä, voivat erityisesti huoltotoimenpiteet, jatkokehitys ja/tai muut häiriöt tai katkokset rajoittaa Teidän mahdollisuuttanne käyttää www.GoGolf.fi -sivustoa tai ajoittain estää sen. Tietyissä olosuhteissa on jopa mahdollista, että tietoja menetetään. GoGolf ei vastaa palveluihin saatavuudesta eikä voi taata, ettei teknisiä häiriöitä tai tiedonmenetyksiä esiintyisi. GoGolf pidättää oikeuden milloin tahansa muuttaa tai supistaa verkkosivun toimintoja tai keskeyttää sen toiminnan.
    %br/
    %br/
    e. Te olette itse vastuussa kaikista tiedoista, jotka jaatte tai kirjoitatte verkkosivun yleisille osioille sekä siitä, että Teillä on kaikki tarvittavat oikeudet jakaa kyseiset tiedot. GoGolfilla on oikeus poistaa tietoja, jotka on kirjoitettu verkkosivun yleisille osioille sekä kirjoituksia tai julkaisuja, jotka GoGolf katsoo loukkaaviksi, sopimattomiksi tai jotka muuten rikkovat näitä Käyttöehtoja tai soveltuvaa lakia. Mikäli Te havaitsette tämän kohdan mukaisia tietoja verkkosivulla, pyydämme teitä ilmoittamaan niistä GoGolfille sähköpostitse osoitteeseen info@GoGolf.fi.
    %br/
    %br/
    6. Reklamaatio 
    %br/
    %br/
    a. Mikäli lahjakortin lunastuksen taikka tuotteen tai palvelun tarjoamisen yhteydessä esiintyy ongelmia, pyrkii GoGolf ratkaisemaan ongelman. Edellä mainituissa tilanteissa voitte lähestyä meitä lähettämällä reklamaation sähköpostitse osoitteeseen info@GoGolf.fi tai ottamalla meihin yhteyttä puhelimitse numeroon 050 3616761.
    %br/
    %br/
    b. Mikäli Te ette ole tyytyväinen GoGolfin reklamaation hoitoon, on Teillä myös mahdollisuus ottaa yhteyttä Kuluttajariitalautakuntaan, jonka postiosoite on PL 306, 00531 Helsinki.
    %br/
    %br/
    7. Immateriaalioikeudet
    a. GoGolf ja sen yhteistyökumppanit pidättävät kaikki immateriaalioikeudet kaikkeen www.GoGolf.fi -sivustolla tarjottavaan tietoon sekä julkaistuun sisältöön, tietoon, kuviin, videoihin ja tietokantoihin (jäljempänä "Suojattu Omaisuus").
    %br/
    %br/
    b. Suojatun Omaisuuden muuttaminen, monistaminen, julkistaminen, toimittaminen kolmannelle osapuolelle ja/tai hyödyntäminen on siksi nimenomaisesti kiellettyä ellei GoGolf tai kyseessä oleva yhteistyökumppani ole antanut sille etukäteistä kirjallista hyväksyntää.
    %br/
    %br/
    8. Henkilötietojen käsittely
    %br/
    %br/
    a. Ostamalla lahjakortin Te annatte suostumuksenne sille, että GoGolf käsittelee henkilötietojanne (sisältäen esim. etu- ja sukunimen, osoitteen, puhelinnumeron ja sähköpostiosoitteen) Teidän kanssa tapahtuvaa yhteydenpitoa ja Teille tapahtuvaa tarjousten markkinointia (esim. erityistarjouksista ja GoGolfin uutuuksista) varten. Henkilötietoja käytetään myös mm. markkina- ja asiakasanalyysien, liike- ja toimintatapojen kehittämisen, tilastoinnin sekä riskinhallinnan tausta-aineistona. Henkilötietoja voi käsitellä yllä mainittuihin tarkoituksiin myös GoGolfin kanssa samaan konserniin kuuluva yhtiö sekä muut yhteistyökumppanit. Henkilötietoja voidaan tällöin siirtää myös maahan, joka sijaitsee EU:n/ETA:n alueen ulkopuolella. Kaikki henkilötietojen käsittely suoritetaan henkilötietolain (523/1999) mukaisesti.
    %br/
    %br/
    b. Teillä on aina syytä ilmoittamatta mahdollisuus perua suostumuksenne henkilötietojen tulevan käytön osalta. Mikäli Te haluatte perua suostumuksenne, tulee se tehdä sähköpostitse osoitteeseen info@GoGolf.fi.
    %br/
    %br/
    c. Suostumuksen perumisen jälkeen GoGolf ei käytä henkilötietojanne muihin käyttötarkoituksiin kuin asiakassuhteen hallinnointiin.
    %br/
    %br/
    d. Te voitte myös maksutta kerran vuodessa kirjallisesti pyytää GoGolfilta tietoa siitä, mitä Teitä koskevia henkilötietoja GoGolf käsittelee. Kyseisen pyynnön tulee olla Teidän omakätisesti allekirjoittama ja se tulee lähettää osoitteeseen 
    GoGolf Oy Turkismiehentie 8 A 62, 00370 Helsinki
    %br/
    %br/
    9. Evästeet
    %br/
    %br/
    a. Tämä verkkosivusto sisältää nk. evästeitä. Sähköisen viestinnän tietosuojalain (516/2004) mukaan evästeitä sisältävän verkkosivun käyttäjälle on ilmoitettava evästeiden olemassaolosta, evästeiden käyttötarkoituksesta sekä annettava tietoa siitä, kuinka evästeiden käyttö estetään
    %br/
    %br/
    b. Verkkosivulla www.GoGolf.fi käytetään nk. istuntoevästeitä. Istuntoevästeitä käytetään Teidän valitsemien palveluiden käsittelyä varten, esimerkiksi mikäli Te ostatte lahjakortin. Istuntoevästeet häviävät kun Te suljette selaimenne kun taas tavalliset evästeet tallentuvat pidemmäksi aikaa Teidän tietokoneelle. Mikäli Te ette hyväksy evästeiden käyttöä tällä verkkosivulla, voitte muuttaa verkkoselaimenne asetuksia siten, että tietokoneenne ei ota vastaan evästeitä. Tarkemman ohjeistuksen osalta viittaamme kyseessä olevan selaimen valmistajan antamiin ohjeisiin. Pyydämme huomioimaan, että tietyt verkkosivun toiminnot eivät toimi, mikäli evästeiden käyttö estetään.
    %br/
    %br/
    10. Yleistä
    %br/
    %br/
    a. GoGolf voi milloin tahansa muuttaa näitä Käyttöehtoja, esimerkiksi täyttääkseen juridisia vaatimuksia tai toteuttaakseen toiminnallisia muutoksia. Voimassa olevat Käyttöehdot ovat aina Teidän saatavillanne osoitteessa www.GoGolf.fi.
    %br/
    %br/
    b. Mikäli Te ette hyväksy näitä Käyttöehtoja, ette ikävä kyllä enää voi hyödyntää palveluitamme. Mikäli näissä Käyttöehdoissa olevat yksittäiset ehdot olisivat pätemättömiä tai osapuolten väliset sopimukset kokonaan tai osittain olisivat pätemättömiä, ei sillä ole vaikutusta muiden ehtojen pätevyyteen.
    %br/
    %br/
    11. Soveltuva laki ja riita-asiat
    Näihin Yleisiin Ehtoihin sovelletaan Suomen lakia. Osapuolten väliset mahdolliset riidat ratkaistaan suomalaisessa tuomioistuimessa. 

