.widgetcontainer
  .widgetcontent

    Käyttöehdot
    Ilmoitus: Rekisteröitymällä GoGolf.fi -sivustolle, käyttäjä sitoutuu noudattamaan jäljempänä esitettyjä ehtoja. Mikäli käyttäjä ei hyväksy näitä ehtoja kokonaisuudessaan, ei käyttäjällä ole oikeutta rekisteröityä. 
    %br/
    1. Yleistä

    %br/
    %br/

    a.Käyttöehtojen tarkoituksena on sopia GoGolf Oy:n (jäljempänä ”GoGolf”) ylläpitämien ja tarjoamien verkkopalvelujen (jäljempänä ”palvelut”) käyttöoikeuden luovuttamisesta nämä käyttöehdot hyväksyvälle luonnolliselle henkilölle (jäljempänä ”asiakas”). 
    %br/
    %br/
    b. Verkkopalveluilla tarkoitetaan GoGolfin ylläpitämiä sähköisiä palveluita, joihin asiakas saa käyttöoikeuden hyväksymällä tämän sopimuksen ehdot itseään koskevaksi. GoGolfin tarjoamat palvelut löytyvät www-osoitteessa www.gogolf.fi sekä mahdollisesti muussa sähköisessä muodossa.  
    %br/
    %br/
    c. Palvelujen aineisto (”aineisto”) on suojattu tekijänoikeudella, tavaramerkkioikeudella ja muilla oikeuksilla. Aineistolla tarkoitetaan palvelussa missä tahansa muodossa esiintyvää aineistoa, esim. logoja, artikkeleita tai ääntä.   
    %br/
    %br/
    2. Sopimuksen synty, voimassaolo ja päättyminen 
    %br/
    %br/
    a. Kun olet hyväksynyt nämä ehdot ja rekisteröitynyt palvelun asiakkaaksi tai käytät verkkopalvelujen sivuja, tulee sopimus GoGolfin ja sinun välillä (jäljempänä ”sopimus”) voimaan.  Ehtoja ei voida muuttaa kuin siitä erikseen kirjallisesti sopimalla. 
    %br/
    %br/
    b. GoGolfilla on oikeus muuttaa tämän sopimuksen ehtoja yksipuolisesti ilmoittamalla muutoksesta www-sivuillaan www.gogolf.fi. Muutos sopimukseen tulee voimaan välittömästi.  
    %br/
    %br/
    c. Palvelun käytön jatkaminen sopimuksen muutoksen jälkeen katsotaan sopimuksen uusien ehtojen hyväksymiseksi. Jos asiakas ei hyväksy sopimuksen muutosta, tulee hänen lopettaa palvelun käyttö.  Käyttäjätunnuksen mitätöinti tapahtuu irtisanomalla sopimus lähettämällä ilmoitus joko kirjallisesti GoGolfille tai sähköpostitse osoitteeseen info@gogolf.fi. Vastuu käyttäjätunnuksen käytöstä asiakkaan osalta lakkaa vasta em. irtisanomisilmoituksen saavuttua GoGolfille. 
    %br/
    %br/
    d. Tämä sopimus on voimassa toistaiseksi. Sopimuksen voi irtisanoa lähettämällä ilmoituksen em. tavalla joko kirjallisesti tai sähköpostilla. 
    %br/
    %br/
    e.  GoGolfilla on oikeus irtisanoa sopimus milloin tahansa, jolloin irtisanomisen vaikutukset tulevat voimaan välittömästi tai GoGolfin erikseen ilmoittamana ajankohtana. 
    %br/
    %br/




    3. Palveluun rekisteröityminen ja käyttöoikeus
    %br/
    %br/
    a. Palveluun voi rekisteröityä vain luonnollinen henkilö, joka on vähintään 15-vuotias. 
    %br/
    %br/
    b. Mikäli rekisteröidyt palveluun, sitoudut antamaan GoGolfille totuudenmukaiset ja oikeat henkilötiedot sekä muut tarpeelliset itseäsi koskevat tiedot. Tietojen muuttuessa, olet velvollinen ilmoittamaan muutokset GoGolfille tallentamalla ne uudestaan palveluun. GoGolfilla on oikeus irtisanoa sopimus virheellisten tietojen tai tietojen ajantasaisuuden laiminlyömisen takia. 
    %br/
    %br/
    c. Rekisteröitymisen yhteydessä valitset itsellesi henkilökohtaisen käyttäjätunnuksen sekä salasanan. Salasana on henkilökohtainen ja sitä ei saa luovuttaa ulkopuolisille. Kaikki käyttäjätunnuksellasi ja salasanallasi tapahtuva käyttö on sinun vastuullasi. Sinun tulee ilmoittaa välittömästi GoGolfille, mikäli epäilet käyttäjätunnuksesi ja salasanasi joutuneen ulkopuolisille.  
    %br/
    %br/
    d.  Hyväksymällä tämän sopimuksen ehdot, sinulle luovutetaan rajoitettu käyttöoikeus sopimuksen voimassaolon ajan. Käyttöoikeus kattaa palvelun ja sen aineiston käyttämisen henkilökohtaisiin ja ei-kaupallisiin tarkoituksiin. 
    %br/
    %br/
    e. Käyttöoikeus ei anna oikeutta muokata, kopioida, levittää, lähettää edelleen, näyttää, esittää, jäljentää, julkaista, siirtää tai myydä mitään palvelusta tai palvelun kautta saamaasi tietoa, ohjelmistoa, tuotteita tai palveluita, etkä myöntää niihin käyttöoikeuksia etkä luoda niistä johdannaisteoksia. 
    %br/
    %br/
    4. Palveluntarjoajan oikeudet 
    %br/
    %br/
    a. Kaikki palvelun sisältämän aineiston omistus, - ja muut oikeudet kuten tekijänoikeudet, tavaramerkit ja muut immateriaalioikeudet kuuluvat GoGolfille tai sen yhteistyökumppaneille.   
    %br/
    %br/
    b. Materiaalin, joka on lain tai hyvän tavan vastaista, levittäminen palvelussa tai palvelun kautta on kiellettyä. 
    %br/
    %br/
    c. Mikäli materiaali on suojattu tekijänoikeudella, tavaramerkkioikeudella tai muulla immateriaalioikeudella, on sen levittäminen palvelussa tai sen kautta kiellettyä ilman materiaalin oikeudenhaltijan lupaa.  
    %br/
    %br/
    5. GoGolfille luovutettavat oikeudet 
    %br/
    %br/
    a. Asiakkaan toimittaessa palveluun mitä tahansa materiaalia, esimerkiksi kuvia, artikkeleita, logoja, ääntä tai musiikkia, luovuttaa hän samalla GoGolfille oikeuden käyttää, kopioida, julkaista, levittää, luovuttaa tai muutoin saattaa yleisön saataville muunneltuna tai alkuperäisessä muodossaan missä tahansa mediassa kyseistä materiaalia. GoGolfilla on myös oikeus siirtää tai myydä mitä tahansa asiakkaan  toimittamaa materiaalia ja myöntää niihin alikäyttöoikeuksia tai luoda niistä johdannaisteoksia. 
    b. GoGolfilla on myös oikeus luovuttaa kolmansille osapuolille alikäyttöoikeus käyttää jotakin edellä mainituista oikeuksista asiakkaan toimittamaan materiaaliin.
    c. Asiakkaan toimitettua materiaalia GoGolfille, luovuttaa hän oikeuden saada nimensä materiaalin yhteyteen. GoGolf säilyttää em. oikeudet toimitettuun materiaaliin vaikka asiakkaan ja GoGolfin välinen asiakassuhde on päättynyt. 
    %br/
    %br/
    d. Luovut täten oikeudestasi saada nimesi mainittua palveluun toimittamasi materiaalin yhteydessä. 
    %br/
    %br/
    e. GoGolfin oikeus sinun palveluun toimittamaasi materiaaliin pysyy voimassa sopimuksen voimassaolon päättymisestä riippumatta. 
    %br/
    %br/
    f. Palvelussa ylläpidettyihin sähköpostiviestipalveluihin talletettuja sähköpostiviestejä säilytetään vähintään 60 vuorokauden ajan Palvelun viimeisestä käyttöpäivästä alkaen. Viestit säilytetään suojatussa muodossa. 
    %br/
    %br/
    7. Palvelun toimittaminen ja käyttö
    %br/
    %br/
    a. GoGolfilla on yksinomainen oikeus tuottaa palvelu parhaaksi katsomallaan tavalla ja muuttaa sisältöä koska tahansa. Mahdolliset muutokset pyritään ilmoittamaan mahdollisuuksien mukaan www-sivuilla tai ilmoituksella käyttäjän sähköpostiin. GoGolf ei takaa palvelun toimivuutta tai jatkuvuutta, eikä siinä esitettyjen tietojen oikeellisuutta.
    %br/
    %br/
    b. GoGolfilla on oikeus estää pääsy palveluun koska tahansa ja siitä etukäteen ilmoittamatta. 
    %br/
    %br/
    c. Kaikki palvelun käyttö tapahtuu omalla vastuulla, eikä GoGolf ole vastuussa asiakkaan tietokoneeseen tai muuhun atk-laitteeseen liittyvistä riskeistä kuten esimerkiksi viruksista.  
    %br/
    %br/
    d. GoGolfilla on oikeus muuttaa asiakkaan palveluun liittyviä tunnuksia, salasanoja, mahdollisia sähköpostiosoitteita tai muita palvelun käyttöön tarvittavia tietoja, mikäli se on lainsäädännöstä tai palvelun tarjoamiseen liittyvästä syystä tarpeellista.  
    %br/
    %br/
    e. GoGolfilla ei ole velvollisuutta tarkastaa asiakkaan palveluun toimittaman materiaalin sisältöä. GoGolfilla on kuitenkin oikeus koska tahansa ilman ilmoitusta tarkastaa, muuttaa ja poistaa sopimattomaksi katsomaansa palveluun toimitetun materiaalin sisältöä. Kaiken julkaistavan materiaalin tulee olla lakien, hyvän tavan ja markkinointisäännösten mukaisia. 
    %br/
    %br/
    8. Asiakkaan vastuu ja velvollisuudet 
    %br/
    %br/
    a. Asiakas vastaa kaikesta palvelun käytöstä aiheutuvista kustannuksista, mukaan lukien Internet-verkon käyttömaksut ja puhelumaksut. Asiakas vastaa myös palvelun käyttämiseen tarvittavien laitteiden, yhteyksien ja ohjelmistojen hankkimisesta ja toimintakunnosta sekä siitä, etteivät ne aiheuta haittaa, häiriötä tai vahinkoa GoGolfille tai muille Internetin tai muun sähköisen toimintaympäristön käyttäjille. 
    %br/
    %br/
    b. Käyttäessään palvelua, asiakas ei saa aiheuttaa häiriötä muille käyttäjille, eikä loukata GoGolfin tai kolmansien osapuolten oikeuksia. Asiakas vastaa palvelussa tai sen kautta mahdollisesti myytäväksi, vuokrattavaksi tai muulla tavalla tarjoamasi tavarat ja palvelut eivät ole lain tai hyvän tavan vastaisia ja että sinulla on oikeus määrätä niistä. 
    %br/
    %br/
    c. Asiakas on velvollinen korvaamaan kaikki vahingot GoGolfille sekä kolmannelle osapuolelle, jonka oikeuksia on mahdollisesti lain- tai sopimuksenvastaisella toiminnalla loukattu. 
    %br/
    %br/
    d. Asiakas vastaa siitä, että palveluun toimitettu materiaali on itse luotu, eikä se loukkaa kolmannen oikeutta. Mikäli asiakkaan palveluun toimittama materiaali loukkaa kolmannen oikeutta ja se johtaa vaatimuksiin GoGolfia tai kolmatta vastaan, on asiakas sitoutunut tämän sopimuksen perusteella korvaamaan GoGolfille tai kolmannelle kaikki tästä aiheutuneet vahingot ja kustannukset.  
    %br/
    %br/
    9. GoGolfin vastuun rajoitukset 
    %br/
    %br/
    a. GoGolf ei vastaa palvelussa esiintyvien tai sen kautta saavutettavien tietojen oikeellisuudesta tai luotettavuudesta. GoGolf ei myöskään vastaa palvelussa tarjolla olevien mielipide- ja keskustelupalstojen sisällöstä.  
    %br/
    %br/
    b. GoGolf ei vastaa järjestelmän toimivuudesta eikä teknisten vikojen, huoltojen tai asennustöiden aiheuttamista katkoksista, tietoliikennehäiriöistä eikä niistä mahdollisesti aiheutuvasta tiedon tai muun vastaavan muuttumisesta tai katoamisesta. 
    %br/
    %br/
    c. GoGolf pyrkii palvelussaan täyttämään kohtuulliset tietoturvallisuusvaatimukset.  GoGolf ei vastaa tietoturvallisuuden puutteiden eikä tietoturvariskien kuten tietokonevirusten sinulle tai kolmannelle aiheuttamista vahingoista. 
    %br/
    %br/
    d. GoGolf ei vastaa käyttämiesi laitteiden tai ohjelmien toimivuudesta ja yhteensopivuudesta palveluun. 
    %br/
    %br/
    e. Mikäli tästä sopimussuhteesta tai sen perusteella tapahtuvasta palvelun käytöstä aiheutuu asiakkaalle vahinkoa, on GoGolfin vastuu vahingosta rajoitettu. Mahdollisten maksullisten palvelujen osalta GoGolf vastaa ainoastaan tuottamuksellaan asiakkaalle aiheuttamistaan välittömistä vahingoista. GoGolfin vastuun enimmäismäärä on joka tapauksessa rajoitettu asiakkaan yhden (1) kuukauden ajalta Palvelusta maksamien palvelumaksujen määrään. GoGolf ei vastaa Asiakkaalle mahdollisesti aiheutuvista välillisistä tai epäsuorista vahingoista. Maksuttomien palveluiden osalta GoGolf ei vastaa mistään Asiakkaalle aiheutuneista välittömistä, välillisistä tai epäsuorista vahingoista. 
    %br/
    %br/
    f. Palvelun kautta voi olla pääsy GoGolfin yhteistyökumppaneiden tai muiden kolmansien tarjoamiin palveluihin. Näiden palveluiden käyttöä koskevat erilliset käyttöehdot. GoGolf ei vastaa mistään kolmansien tarjoamista palveluista eikä niiden asiakkaalle mahdollisesti aiheuttamista vahingoista. 
    %br/
    %br/

    11. Henkilötietojen kerääminen, käsittely ja luovutus 
    %br/
    %br/
    a. Rekisteröityessäsi palvelun asiakkaaksi luovutat GoGolfille oikeuden kerätä ja käsitellä henkilötietojasi jäljempänä mainituin tavoin. Kaikki GoGolfille annetut henkilötiedot tai tiedot jotka tulevat sen tietoon kotisivuilla vieraillessa, käsitellään luottamuksellisina ja huolellisuutta noudattaen. 
    %br/
    %br/
    b. Palveluun kirjautuminen vaatii, että et ole tietokoneen asetuksissa estänyt cookieiden eli evästeiden tallentamista tietokoneesi kovalevylle. Cookieta käytetään Asiakkaan tunnistamiseen. Cookieiden avulla voidaan myös kerätä tietoja Asiakkaan Palvelun käytöstä, esimerkiksi Asiakkaan eniten käyttämistä Palvelun osista. 
    %br/
    %br/
    c. GoGolf kerää sinusta tietoja kahdella eri tavalla. Ensinnäkin GoGolf kerää sinusta ne tiedot, jotka ilmoitat itsestäsi Palveluun rekisteröitymisen yhteydessä ja Palvelua muutoin käyttäessäsi. Toiseksi Golfpiste voi kerätä sinusta tietoja myös Palvelussa asiointisi perusteella esimerkiksi cookieiden avulla.
    %br/
    %br/
    d. GoGolf ei kerää ja käsittele henkilötunnustasi ilman nimenomaista suostumustasi. GoGolf ei myöskään käsittele arkaluonteisia tietoja asiakkaistaan. 
    %br/
    %br/
    e. GoGolf säilyttää sinusta keräämiään tietoja sen ajan, jonka olet rekisteröitynyt palvelun käyttäjäksi. Tietojasi säilytetään lisäksi asiakassuhteesi päättymisen jälkeen enintään kolmen vuoden ajan. 
    %br/
    %br/
    f. GoGolf rekisteröi ja käyttää asiakkaan tietoja tarjotakseen asiakkailleen parempaa ja yksilöllisempää palvelua. GoGolf voi lähettää sinulle palvelua koskevia tiedotteita ja tarjouksia yhteistyössä yhteistyökumppaniensa kanssa. GoGolf saa lähettää asiakkaalle palvelua koskevia tietoja ja tarjouksia sekä muuta mainontaa tekstiviestinä, sähköpostitse ja käyttämällä muuta televiestintää tai muuta viestintää. Asiakkaalla on kuitenkin koska tahansa oikeus kieltää GoGolfia käyttämästä henkilötietojaan suoramainontaa, etämyyntiä ja muuta suoramarkkinointia varten ilmoittamalla siitä GoGolfille osoitteeseen info@gogolf.fi
    %br/
    %br/
    g. GoGolfilla on aina oikeus lähettää asiakkaalle sähköpostitse jäsenyyteen liittyviä tiedotteita, esimerkiksi tiedotteita muutetuista tai uusituista ehdoista tämän sopimuksen voimassaolon ajan. 
    %br/
    %br/
    h. GoGolf voi luovuttaa asiakkaan henkilötietoja muille samaan konserniin kuuluville yhteisöille Suomessa ja ulkomailla. Asiakkaalla on kuitenkin koska tahansa oikeus kieltää GoGolfia luovuttamasta asiakkaan henkilötietoja edellä mainituille tahoille ilmoittamalla siitä GoGolfille osoitteeseen info@gogolf.fi 
    %br/
    %br/
    i.  Asiakas voi halutessaan tutustua GoGolfille ilmoittamiinsa henkilötietoihinsa ja muuttaa niitä omilla henkilökohtaisilla sivuillaan.  Sinulla on oikeus tutustua myös sinusta muulla tavalla kerättyihin ja rekisteröityihin henkilötietoihin. Tiedot saat ottamalla yhteyttä rekisterinpitäjänä toimivaan GoGolf Oy:hyn. Jos GoGolfin sinusta rekisteröimät tiedot ovat virheellisiä tai puutteellisia, sinulla on oikeus vaatia virheiden korjaamista.
    %br/
    %br/
    12. Ilmoitukset ja mainokset 
    %br/
    %br/
    a. Ilmoitusten ja mainosten julkaisuun GoGolfin viestimissä sovelletaan kulloinkin voimassa olevia GoGolfin ilmoittamia ehtoja. Mainostajan ja ilmoittajan on noudatettava kulloinkin voimassa olevia mainonnan kansainvälisiä perussääntöjä. Kaikki hyväksytyt ilmoitukset ja mainokset pyritään julkaisemaan määrättyinä päivinä. Mikäli mainosta tai ilmoitusta ei tuotannollisista tai muista toiminnallisista syistä tai asiakkaasta, ulkopuolisesta tiedontuottajasta tai ulkopuolisesta GoGolfista johtuvasta syystä kuitenkaan voida julkaista, GoGolf ei vastaa tästä mahdollisesti aiheutuvasta vahingosta. 
    %br/
    %br/
    b. GoGolfin vastuu mainoksen tai ilmoituksen poisjäämisestä tai julkaisemisessa sattuneesta virheestä rajoittuu enintään mainoksesta tai ilmoituksesta maksetun määrän palauttamiseen. Huomautukset on tehtävä kahdeksan (8) päivän sisällä mainoksen tai ilmoituksen julkaisemisesta tai tarkoitetusta julkaisupäivästä lukien. 
    %br/
    %br/
    13. Sopimuksen siirtäminen, sovellettava laki ja erimielisyyksien ratkaiseminen
    %br/
    %br/
    a. GoGolfilla on oikeus siirtää tämä sopimus ja siihen perustuvat oikeudet ja velvollisuudet kolmannelle osapuolelle. Asiakas antaa suostumuksensa sille, että myös asiakasta koskevat henkilötiedot saadaan siirtää sopimuksen siirron yhteydessä kolmannelle osapuolelle. 
    %br/
    %br/
    b. Asiakkaalla ei ole oikeutta siirtää tätä sopimusta kolmannelle osapuolelle. 
    %br/
    %br/
    c.  Tähän sopimukseen sovelletaan Suomen lakia. 
    d. Tästä Sopimuksesta mahdollisesti aiheutuvat riitaisuudet ratkaistaan Helsingin käräjäoikeudessa ellei jjhhhnkuluttajasuojalain pakottavista säännöksistä muuta johdu.
